
<div class="card m-3">
  <h5 class="card-header text-center">Candidate</h5>
  <div class="card-body">
      <form [formGroup]="CandidateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label> Name</label>
          <input
            type="text"
            maxlength="50"
            minlength="3"
            formControlName="Name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
          />
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">Name is required</div>
            <div *ngIf="f.Name.errors.minlength">Name should be least 3 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text"  maxlength="300"
          minlength="3" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.minlength">Email should be least 3 characters long</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input
          type="number"
          maxlength="50"
          minlength="3"
          formControlName="Phone"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }"
        />
        <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
          <div *ngIf="f.Phone.errors.required">Phone is required</div>
          <div *ngIf="f.Phone.errors.minlength">Phone should be least 3 characters long</div>
        </div>
      </div>
          <div class="form-group">
              <label> Recruiter</label>
              <input
              maxlength="50"
              minlength="3"
                type="text"
                formControlName="Recruiter"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Recruiter.errors }"
              />
              <div *ngIf="submitted && f.Recruiter.errors" class="invalid-feedback">
                <div *ngIf="f.Recruiter.errors.required">Recruiter is required</div>
                <div *ngIf="f.Recruiter.errors.minlength">Recruiter should be least 3 characters long</div>
              </div>
            </div>
            <div class="form-group">
              <label>Company</label>
              <input
              maxlength="50"
              minlength="3"
                type="text"
                formControlName="Company"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Company.errors }"
              />
              <div *ngIf="submitted && f.Company.errors" class="invalid-feedback">
                <div *ngIf="f.Company.errors.required">Company is required</div>
                <div *ngIf="f.Company.errors.minlength">Company should be least 3 characters long</div>
              </div>
            </div>
            <div class="form-group">
              <label>Candidate</label>
              <input
              maxlength="50"
              minlength="3"
                type="text"
                formControlName="Candidate"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Candidate.errors }"
              />
              <div *ngIf="submitted && f.Candidate.errors" class="invalid-feedback">
                <div *ngIf="f.Candidate.errors.required">Candidate is required</div>
                <div *ngIf="f.Candidate.errors.minlength">Company should be least 3 characters long</div>
              </div>
            </div>
            <div class="form-group">
              <label>Merits</label>
              <textarea
              maxlength="500"
              minlength="3"
                type="text"
                formControlName="Merits"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Merits.errors }"
              ></textarea>
              <div *ngIf="submitted && f.Merits.errors" class="invalid-feedback">
                <div *ngIf="f.Merits.errors.required">Merits is required</div>
              </div>
              <div *ngIf="f.Merits.errors.minlength">Company should be least 3 characters long</div>
            </div>
            <div class="form-group">
              <label>Attachment</label>
              <input
                type="file"
                formControlName="Attachment"
                name='files[]' multiple
                max-size="100000"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Attachment.errors }"
              />
              <div *ngIf="submitted && f.Attachment.errors" class="invalid-feedback">
                <div *ngIf="f.Attachment.errors.required">Attachment is required</div>
              </div>
            </div>
          <div class="text-center">
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              <button class="btn btn-primary ml-1">Submit</button>
          </div>
      </form>
  </div>
</div>
